@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h1>Ingredient details</h1>
<h3>@Html.DisplayFor(model => model.Name)</h3>
<hr/>

@if(@Model.Recipes.Count == 0)
{
  <p>No recipes use this ingredient.</p>
}
else
{
  <h4>Recipes that use this ingredient:</h4>
  <ul>
    @foreach(var join in Model.Recipes)
    {
      <li>@join.Recipe.Name</li>
      @using (Html.BeginForm("DeleteRecipe", "Ingredients"))
      {
        @Html.Hidden("joinId", @join.RecipeIngredientId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("View all ingredients", "Index")</p>
<p>@Html.ActionLink("Edit ingredient", "Edit", new { id = Model.IngredientId})</p>
<p>@Html.ActionLink("Add a recipe", "AddRecipe", new { id = Model.IngredientId})</p>
<p>@Html.ActionLink("Delete ingredient", "Delete", new { id = Model.IngredientId})</p>