@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h2>Edit</h2>

<h4>Edit this Ingredient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IngredientId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>

    <input type="submit" value="Save" class="btn btn-outline-primary" />
}
<hr> 

<p>@Html.ActionLink($"Back to {@Model.Name}", "Details", new { id = Model.IngredientId })</p>